---
layout: default
---

<div class="container">

  <h3>New on Netpflix</h3>

  {% for movie in site.data.movies.new_arrival %}
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-xs-12 col-sm-3">
            <a href="/assets/img/new-posters/{{ movie.image }}">
              <img src="/assets/img/new-posters/{{ movie.image }}" alt="{{ movie.name }}" class="img-fluid centered" />
            </a>
          </div>
          <div class="col-xs-12 col-sm-9">
            <h4 class="card-title white-text">{{ movie.name }}</h4>

            <h5>
                <span class="text-danger">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </span>
                &nbsp; &nbsp;
                <div class="badge badge-secondary">{{ movie.year }}</div>
            </h5>

            <p class="card-text lead">
              {{ movie.description }}
            </p>

            {% if movie.video %}
            <a href="{{ movie.video }}" class="btn btn-danger btn-lg btn-block" target="_blank">
              <i class="fas fa-play"></i>
              Watch
            </a>
            {% elsif movie.coming_soon %}
              <a href="{{ movie.video }}" class="btn btn-danger btn-lg btn-block disabled" target="_blank">
                <i class="fas fa-clock"></i>
                Coming Soon
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

  <br>
  <br>

  <h3>Popular on Netpflix</h3>

  <div class="row">
    {% for movie in site.data.movies.gallery %}
        <div class="col-xs-6 col-md-3">

          <div class="card bg-dark text-white movie-card">
            <img class="card-img" src="/assets/img/new-posters/{{ movie.image }}" alt="{{ movie.name }}">
            <div class="card-img-overlay movie-overlay">
              <div class="movie-overlay-contents">
                <h5 class="card-title">
                  {{ movie.name }}
                </h5>
                <p class="card-text lead">
                  <span class="text-danger">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                  </span>
                  &nbsp;
                  <span class="badge badge-secondary">{{ movie.year }}</span>
                </p>
                <p class="card-text">
                  {{ movie.description }}
                </p>

                {% if movie.video %}
                  <p class="card-text">
                    <a href="{{ movie.video }}" class="btn btn-danger btn-lg btn-block" target="_blank">
                      <i class="fas fa-play"></i>
                      Watch
                    </a>
                  </p>
                {% endif %}
              </div>
            </div>
          </div>

          <br>
      </div>
    {% endfor %}
  </div>

</div>
