/*
// App Stylesheet
// --------------
*/
// Import Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootswatch/dist/cyborg/_variables.scss";
@import "../../node_modules/bootswatch/dist/cyborg/_bootswatch.scss";
// Constants
$poster_hover_scale: 1.2;
$white: #EEE;

// Rules
#page-main {
    // to account for sticky header bar
    padding-top: 60px;
}
.brand-img {
  height: 24px;
}
.movie-poster {
  cursor: pointer;
  transition: transform 0.25s ease;

  &:hover {
    // transform: scale(@poster_hover_scale, @poster_hover_scale);
    // box-shadow: 0 0 6px 12px black;
    transform: scale($poster_hover_scale, $poster_hover_scale);
    z-index: 100;
  }
  .movie-details {
    position: absolute;
    bottom: 0;
    left: 0;
    max-height: 100%;
    width: 100%;
    padding: 8px;

    overflow: hidden;
    text-overflow: ellipsis;

    border-radius: inherit;
    background: rgba(0, 0, 0, 0.5);

    h4 {
        font-size: 18px;
    }

  }
  // show details only on hover
  .movie-details {
    display: none;
  }
  &:hover {
    .movie-details {
      display: block;
    }
  }
}

.white-text {
    color: $white;
}

.centered {
    margin: auto;
}

.footer {
    text-align: center;
    margin-bottom: 0;
}
